.DS_Store
.obsidian/
editing/**/gelem/
editing/**/*.prin
editing/**/Adobe Premiere Pro Video Previews/
editing/**/Adobe Premiere Pro Audio Previews/
editing/**/Adobe Premiere Pro Auto-Save/
editing/**/Adobe After Effects Auto-Save/
editing/**/cutback/
editing/**/Exp/
.env
.kiro/
*.flac
modern-art-series/_series-wide/music/**/*.mp3
modern-art-series/**/visuals/graphics/*.mp4

